*.homer
*.pyc
MNIST-data
.vscode
.ropeproject
.ipynb_checkpoints
__pycache__
notebooks/.ipynb_checkpoints
notebooks/logs
logs
enet_tensorflow_debug.py
EnetPaper.pdf
dataset
EnetTensorflow.code-workspace