*.homer
*.pyc
MNIST-data
.vscode
.ropeproject
.ipynb_checkpoints
__pycache__
notebooks/.ipynb_checkpoints
notebooks/logs
logs
enet_tensorflow_debug.py
EnetPaper.pdf
dataset/
EnetTensorflow.code-workspace
datasets/
notebooks/Enet FaceSegmentation Training.ipynb
*.cache.*
dataset
EnetTensorflow.code-workspace
datasets
train.cache.data-00000-of-00001
train.cache.index
val.cache.data-00000-of-00001
val.cache.index
notebooks/Enet FaceSegmentation Training.ipynb
enet_tensorflow_debug.py
